// 
// Typography
// 

// Override Bootstrap typography variables

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;

$headings-font-weight: 700;